{% extends "basefront.html.twig" %}

{% block body %}
	<div class="container">
		<div class="row">
			<h3 class="mt-5 mb-5">Create Article</h3>
			<div class="col-md-6 offset-md3">
				{{ form_start(form) }}
				<div class="form-group">
					{{ form_label(form.category) }}
					{{ form_widget(form.category,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.title) }}
					{{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
				</div>

				<div class="form-group">
					{{ form_label(form.content) }}
					{{ form_widget(form.content,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.image) }}
					{{ form_widget(form.image,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.state) }}
					{{ form_widget(form.state,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.author) }}
					{{ form_widget(form.author,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					<button class="btn btn-info mt-2 text-white">Submit</button>
				</div>
				{{ form_end(form) }}

			</div>
		</div>
	</div>
{% endblock %}
