{% extends "baseback.html.twig" %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md3">
				{{ form_start(form) }}
				<div class="form-group">
					{{ form_label(form.nom_civilisation) }}
					{{ form_widget(form.nom_civilisation,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.nom_monument) }}
					{{ form_widget(form.nom_monument,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.date_dbuit_civilisation) }}
					{{ form_widget(form.date_dbuit_civilisation,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.date_fin_civilisation) }}
					{{ form_widget(form.date_fin_civilisation,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.description_civilisation) }}
					{{ form_widget(form.description_civilisation,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.image) }}
					{{ form_widget(form.image,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					<button class="btn btn-info mt-2 text-white">Submit</button>
				</div>
			</div>
			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
