
{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
<div> <br><br><br><br><br><br><br><br></div>
	<div class="container">
		{% for message in app.flashes('notice') %}
			<div class="alert alert-success mt-4 mb-b">
				{{ message }}
			</div>
		{% endfor %}
		<table class="table">
			<thead>
				<tr>
					{#<th scope="col">#</th>#}
					<th scope="col">ID</th>
					<th scope="col">Point Depat Circuit</th>
					<th scope="col">Date Fin Circuit</th>
                    <th scope="col">Nbr Place Dispo</th>
					<th scope="col">Point Depat Circuit</th>
					<th scope="col">Description Circuit</th>
                    <th scope="col">Nbr Jour Circuit</th>
					<th scope="col">Nom Circuit</th>

					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for data in list %}
					<tr>
						<th scope="row">{{ data.id }}</th>

                        
                        
                        <td>{{ data.getPointDepatCircuit() }}</td>

						<td>{{ data.getDateDebutCircuit()|date("m/d/Y") }}</td>
						<td>{{ data.getDateFinCircuit()|date("m/d/Y") }}</td>


                        <td>{{ data.getNbrPlaceDispo() }}</td>

                        <td>{{ data.getDescriptionCircuit() }}</td>

                        <td>{{ data.getNbrJourCircuit() }}</td>

                        <td>{{ data.getNomCircuit() }}</td>

                       

                        


						


						<td>
							<a class="btn btn-warning" href="{{ path('update',{'id': data.id }) }}">Update</a>
							<a class="btn btn-danger" href="{{ path('delete',{'id': data.id }) }}">Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}