<!DOCTYPE html>
<html
	lang="en">

	<!-- stella-orre/about.html  30 Nov 2019 03:45:56 GMT -->
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<link rel="profile" href="#">
		<title>Stella Orr'e - Interior and Home Renovation HTML Template | About</title>
		<!-- Stylesheets -->
		<link href="../front/css/bootstrap.css" rel="stylesheet">
		<link href="../front/css/style.css" rel="stylesheet">
		<link href="../front/css/responsive.css" rel="stylesheet">

		<link rel="shortcut icon" href="../front/images/favicon.png" type="image/x-icon">
		<link
		rel="icon" href="../front/images/favicon.png" type="image/x-icon">

		<!-- Responsive -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
		<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

		<!--Google Font-->
		<link
		rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'/> <!-- Mobile specific meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta
		name="format-detection" content="telephone-no">

		<!-- CSS files -->
		<link rel="stylesheet" href="../css/plugins.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>

	<body>

		<div
			class="page-wrapper">
			<!-- Preloader -->
			<div class="preloader"></div>

			<header
				class="main-header header-style-one">
				<!--Header Top-->
				<div class="header-top">
					<div class="auto-container clearfix">
						<div class="top-left clearfix">
							<div class="text">
								<span class="icon flaticon-call-answer"></span>
								Need help? Call Us Now :
								<a href="tel:1800-456-7890" class="number">1800 456 7890</a>
							</div>

						</div>
						<div
							class="top-right clearfix">
							<!-- Info List -->
							<ul class="info-list">
								<li>
									<a href="about.html">Our Story</a>
								</li>
								<li>
									<a href="blog.html">Inspiration</a>
								</li>
								<li class="quote">
									<a href="contact.html">Get Free Quote</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- End Header Top -->

				<!-- Header Upper -->
				<div class="header-upper">
					<div class="inner-container">
						<div
							class="auto-container clearfix">
							<!--Info-->
							<div class="logo-outer">
								<div class="logo">
									<a href="index-2.html"><img src="../front/images/logo.png" alt="" title=""></a>
								</div>
							</div>

							<!--Nav Box-->
							<div
								class="nav-outer clearfix">
								<!--Mobile Navigation Toggler For Mobile-->
								<div class="mobile-nav-toggler">
									<span class="icon flaticon-menu-1"></span>
								</div>
								<nav class="main-menu navbar-expand-md navbar-light">
									<div
										class="navbar-header">
										<!-- Togg le Button -->
										<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
											<span class="icon flaticon-menu-1"></span>
										</button>
									</div>

									<div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
										<ul class="navigation clearfix">
											<li class="current dropdown">
												<a href="{{ path('home') }}">Home</a>
											</li>
											<li class="dropdown">
												<a href="#">Gestion circuit</a>
												<ul>
													<li class="dropdown">
														<a href="#">Evenement</a>
														<ul>
															<li><a href="{{ path('app_evenementsAfficher') }}">List Evenement</a></li>
															<li><a href="{{ path('app_evenements') }}">Back</a></li>
														</ul>
													</li>
													<li class="dropdown">
														<a href="#">Circuit</a>
														<ul>
															<li><a href="{{ path('app_circuitAfficher') }}">List Circuit</a></li>
															<li><a href="{{ path('app_circuits') }}">Back</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="dropdown">
												<a href="services-dark.html">Excursions</a>
												<ul>
													<li class="dropdown">
														<a href="#">Civilisation</a>
														<ul>
															<li><a href="{{ path('app_civilisation_front') }}">List Civilisation</a></li>
															<li><a href="{{ path('app_civilisation') }}">Back</a></li>
														</ul>
													</li>
													<li class="dropdown">
														<a href="projects-masonry.html">Nourritures</a>
														<ul>
															<li><a href="{{ path('app_nourritures_front') }}">List Nourritures</a></li>
															<li><a href="{{ path('app_nourritures') }}">Back</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="dropdown">
												<a href="projects-classic.html">Gestion Abonnement</a>
												<ul>
													<li><a href="{{ path('create_abonnement') }}">Abonnez-Vous</a></li>
													<li><a href="{{ path('app_abonnements') }}">Back</a></li>
												</ul>
											</li>
											<li class="dropdown">
												<a href="blog.html">Blog</a>
												<ul>
													<li><a href="{{ path('app_blog_article') }}">Blog</a></li>
													<li><a href="{{ path('create_article') }}">Add Blog</a></li>
													<li><a href="{{ path('app_blog_article_back') }}">Back</a></li>
												</ul>
											</li>
											<li class="dropdown">
												<a href="shop.html">User</a>
												<ul>
													{% if app.user %}
														<li><a href="{{ path('app_profile',{'id': app.user.id }) }}">Profile</a></li>
														<li><a href="{{ path('afficher_user') }}">Back</a></li>
														<li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
													{% else %}
														<li><a href="{{ path('app_login') }}">Connexion</a></li>
														<li><a href="{{ path('app_register') }}">s'inscrire</a></li>
													{% endif %}
												</ul>
											</li>
										</ul>
									</div>
								</nav>
								<!-- Main Menu End-->

								<!-- Outer Box -->
								<div class="outer-box clearfix">
									<div class="search-box-btn">
										<span class="icon flaticon-magnifying-glass-1"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--End Header Upper-->

				<!-- Mobile Menu  -->
				<div class="mobile-menu">
					<div class="menu-backdrop"></div>
					<div class="close-btn">
						<span class="icon flaticon-cancel"></span>
					</div>

					<nav class="menu-box">
						<div class="nav-logo">
							<a href="index-2.html"><img src="../front/images/logo.png" alt="" title=""></a>
						</div>
						<ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
						<!--Social Links-->
						<div class="social-links">
							<ul class="clearfix">
								<li>
									<a href="#">
										<span class="fab fa-twitter"></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="fab fa-facebook-square"></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="fab fa-pinterest-p"></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="fab fa-instagram"></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="fab fa-youtube"></span>
									</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- End Mobile Menu -->

			</header>
			<!-- End Main Header -->

			{% block body %}{% endblock %}

			<!--Main Footer-->
			<footer class="main-footer">
				<div
					class="auto-container">
					<!--Widgets Section-->
					<div class="widgets-section">
						<div
							class="row clearfix">

							<!--big column-->
							<div class="big-column col-lg-6 col-md-12 col-sm-12">
								<div
									class="row clearfix">

									<!--Footer Column-->
									<div class="footer-column col-lg-7 col-md-6 col-sm-12">
										<div class="footer-widget logo-widget">
											<div class="logo">
												<a href="index-2.html"><img src="../front/images/footer-logo.png" alt=""/></a>
											</div>
											<div class="text">Stella Orr'e is a WordPress theme to build Interior websites. It has good features and you will love.</div>
											<ul class="social-icons">
												<li>
													<a href="#">
														<span class="fab fa-facebook-f"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="fab fa-linkedin-in"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="fab fa-twitter"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="fab fa-google-plus-g"></span>
													</a>
												</li>
											</ul>
										</div>
									</div>

									<!--Footer Column-->
									<div class="footer-column col-lg-5 col-md-6 col-sm-12">
										<div class="footer-widget links-widget">
											<h2>Quick links</h2>
											<div class="widget-content">
												<ul class="list">
													<li>
														<a href="#">About Gaille</a>
													</li>
													<li>
														<a href="#">Privacy Policy</a>
													</li>
													<li>
														<a href="#">Terms & Conditionis</a>
													</li>
													<li>
														<a href="#">Faq</a>
													</li>
												</ul>
											</div>
										</div>
									</div>

								</div>
							</div>

							<!--big column-->
							<div class="big-column col-lg-6 col-md-12 col-sm-12">
								<div
									class="row clearfix">

									<!--Footer Column-->
									<div class="footer-column col-lg-5 col-md-6 col-sm-12">
										<div class="footer-widget contact-widget">
											<h2>Contact Info</h2>
											<div class="widget-content">
												<a href="tel:1800-574-9687" class="contact-number">(1800) 574 9687</a>
												<ul>
													<li>256, Stella Orr'e, New York 24</li>
													<li>Email :<a href="mailto:info@stellaorre.com">
															info@stellaorre.com</a>
													</li>
												</ul>
											</div>
										</div>
									</div>

									<!--Footer Column-->
									<div class="footer-column col-lg-7 col-md-6 col-sm-12">
										<div class="footer-widget newsletter-widget">
											<h2>Newsletter</h2>
											<div class="text">Get Special offers & Discounts</div>
											<!-- Newsletter Form -->
											<div class="newsletter-form">
												<form method="post" action="templateshub.net">
													<div class="form-group">
														<input type="email" name="email" value="" placeholder="Enter your email address" required>
														<button type="submit" class="theme-btn btn-style-one">
															<span class="txt">Subscribe</span>
														</button>
													</div>
												</form>
											</div>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>

				</div>
			</footer>

		</div>
		<!--End pagewrapper-->

		<!--Scroll to top-->
		<div class="scroll-to-top scroll-to-target" data-target="html">
			<span class="fa fa-angle-up"></span>
		</div>

		<!--Search Popup-->
		<div id="search-popup" class="search-popup">
			<div class="close-search theme-btn">
				<span class="flaticon-cancel"></span>
			</div>
			<div class="popup-inner">
				<div class="overlay-layer"></div>
				<div class="search-form">
					<form method="post" action="templateshub.net">
						<div class="form-group">
							<fieldset>
								<input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required>
								<input type="submit" value="Search Now!" class="theme-btn">
							</fieldset>
						</div>
					</form>

					<br>
					<h3>Recent Search Keywords</h3>
					<ul class="recent-searches">
						<li>
							<a href="#">Home Interiors</a>
						</li>
						<li>
							<a href="#">Offices Interiors</a>
						</li>
						<li>
							<a href="#">Showroom Interiors</a>
						</li>
						<li>
							<a href="#">Building Interiors</a>
						</li>
						<li>
							<a href="#">Shops Interiors</a>
						</li>
					</ul>

				</div>

			</div>
		</div>

		<!--Scroll to top-->
		<script src="../front/js/jquery.js"></script>
		<script src="../front/js/popper.min.js"></script>
		<script src="../front/js/jquery-ui.js"></script>
		<script src="../front/js/bootstrap.min.js"></script>
		<script src="../front/js/jquery.fancybox.js"></script>
		<script src="../front/js/isotope.js"></script>
		<script src="../front/js/owl.js"></script>
		<script src="../front/js/wow.js"></script>
		<script src="../front/js/appear.js"></script>
		<script src="../front/js/scrollbar.js"></script>
		<script src="../front/js/script.js"></script>
		<script src="../js/jquery.js"></script>
		<script src="../js/plugins.js"></script>
		<script src="../js/plugins2.js"></script>
		<script src="../js/custom.js"></script>
	</body>

	<!-- stella-orre/about.html  30 Nov 2019 03:46:11 GMT -->
</html>
