{% extends 'baseback.html.twig' %}
{% block body %}
	<div class="container">
		{% for message in app.flashes('notice') %}
			<div class="alert alert-success mt-4 mb-b">{{ message }}</div>
		{% endfor %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Titre d'evenement</th>
					<th scope="col">Date Reservation</th>
					<th scope="col">Prix Reservation</th>
					<th scope="col">id utilisateur</th>
					<th scope="col">id abonnement</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for data in list %}
					<tr>
						<th scope="row">{{ data.id }}</th>
						<td>{{ data.getEvenement().getTitreEvenement() }}</td>
						<td>{{ data.getDateRes()|date("m/d/Y") }}</td>
						<td>{{ data.getPrixRes() }}</td>
						<td>{{ data.getUtilisateur().getId() }}</td>
						<td>{{ data.getAbonnements().getId() }}</td>
						<td>
							<a class="btn btn-warning" href="{{ path('update_reservation',{'id': data.id }) }}">Update</a>
							<a class="btn btn-danger" href="{{ path('delete_reservation',{'id': data.id }) }}">Supprimer</a>
							<a href="{{ path('app_qr_codes', {'id': data.getEvenement().getTitreEvenement()}) }}">QR Code</a>
						</td>
					</tr>
				</td>

			{% endfor %}
		</tbody>
	</tr>
	<tr></tr>
</table>
<form action="{{ path('generator_service') }}" method="post">
	<select name="choice">
		{% for data1 in lst %}
			<option value="{{ data1.getId() }}">{{ data1.getTitreEvenement() }}</option>
		{% endfor %}
	</select><input type="submit" value="PDF">
{% endblock %}
